.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
  /* padding: 0 50px 0 50px; */
}
.formInput label {
  color: gray;
  font-size: 15px;
}

.formInput input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}
